.cart-item{
    margin-bottom: 1.5%;
    background-color: #ffe58ea2;
    border-radius: 20px;
    padding: 3%;
}

.cart-item p{
    padding: 1%;
    margin: 0;
    margin-bottom: 1%;
}

.cart-item div{
    display:inline-block;
    margin: 0; 
    vertical-align: middle;

}

.pending{
    font-style: italic;
    color: gray;
}

.product-img{
    max-width: 15%;
    padding: 1%;
 
}

.product-img img{
    max-width: 100%;
    border-radius: 20px;
    
}

.product-details{
    min-width: 60%;
    /* background-color: aqua; */
    margin: 0;
    padding-left: 5%;
}

.product-details h4{
    margin-top:0;
}

.product-price{
    /* background-color: palegoldenrod; */
    margin: 0;
    /* padding-left: 15%; */

}

.product-price > *{
    margin: 0;
    font-size: 1.5em;
}

.remove{
    width: 50%;
    color: #E55E1C;
    text-decoration: underline;
}

.remove:hover{
    color: #C68C6F;
}

#total{
    font-size: 1.5em;
    font-weight: 900;
}

#cost{
    float: right;
    text-align: right;
    margin-bottom: 10%;
}

#pay{
    background-color: #77A193;
}

#pay:hover{
    background-color: #458f76;
}