/* Sorted universal, classes, then ids alphabetically */
/* This page is used to style item information pages */

label{
    margin: 2%;
}


/* Add cart button */
.add-cart{
    margin-top: 4%;
    background-color: #77A193;
    max-width: 35%;
}

.add-cart:hover{

    background-color: #458f76;

}

.date{
    margin: 0;
    color: #C68C6F;
}

.details{
    float:right;
    max-width: 45%;
}

.option-buttons{
    margin-top: 10%;
}

.option-buttons button{
    max-width: 31%;
    background-color: #E55E1C;
    margin-right: 1%;
    margin-bottom: 8%;
}

.option-buttons button:hover{
   background-color: #762700;
}

.option-buttons button:focus{
    background-color: #762700;
}

.price{
    font-size: 1.25em;
}

/* Referes to a div - not the actual img */
.product-img{
    float:left;
    max-width: 45%;
}

.product-img img{
    max-width: 100%;
}

.reviewer-name{
    margin-bottom: 0.5em;
}

.review-body{
    margin: 0;
}

.spacer{
    height: 100px;
}

#option-description{
    color: #762700c4;
}

/* // small screens */
@media only screen and (max-width: 1024px) {    
    body{
        /* background-color: rgb(255, 233, 237); */
    }
    .product-img{
        min-width: 100%;
        /* background-color: aquamarine; */
    }

    .product-img img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* max-width: 10%; */
    }

    .details{
        min-width: 100%;
    }

    .option-buttons button{
        max-width: 100%;
        background-color: #E55E1C;
        margin-right: 1%;
        margin-bottom: 2%;

    }

    .option-buttons{
        margin-top: 10%;
        margin-bottom: 10%;
    }
} 


